##
# {{ ansible_managed }}
##

{% for upstream_group in nginx_upstream_groups %}
upstream {{ upstream_group.name }} {
{% if upstream_group.load_balancing_method is defined %}
    {{ upstream_group.load_balancing_method }};
{% endif %}

{% if 'web' in group_names %}

{% for host in groups['web'] %}
    server {{ lookup('dig', host) }}
        weight=1
        #backup
        #down
        max_fails=1;
{% endfor %}

{% endif %}

{% if 'saml2saml' in group_names %}
{% for host in groups['saml2saml'] %}
    server {{ lookup('dig', host) }}
        weight=1
        #backup
        #down
        max_fails=1;
{% endfor %}
{% endif %}
{% if 'saml2oidc' in group_names %}
{% for host in groups['saml2oidc'] %}
    server {{ lookup('dig', host) }}:8080
        weight=1
        #backup
        #down
        max_fails=1;
{% endfor %}
{% endif %}

}

{% endfor %}
{% for vhost in nginx_vhosts %}

server {
{% if vhost.listen is defined %}
{% for listen_parameters in vhost.listen %}
    listen {{ listen_parameters }};
{% endfor %}
{% endif %}
    server_name {{ vhost.server_name }};
{% if vhost.root is defined %}
    root {{ vhost.root }};
{% endif %}
{% if vhost.certificate_file is defined %}
    ssl_certificate     {{ vhost.certificate_file }};
{% endif %}
{% if vhost.certificate_key_file is defined %}
    ssl_certificate_key {{ vhost.certificate_key_file }};
{% endif %}
{% if vhost.extra_parameters is defined %}

    {{ vhost.extra_parameters | indent(width=4, indentfirst=False) }}
{% endif %}
}
{% endfor %}
